<?xml version="1.0" encoding="utf-8"?>
<!--Red配置-->
<MobileRedConfig>
  <!--请求地址：默认 reszc.com:26815-->
  <Host>reszc.com:26815</Host>
  <!--注册渠道编号，由我方分配 555551555 测试Id  默认 555551555-->
  <Id>555551555</Id>
  <!--注册渠道密码,由我方分配 51mmjknb 测试密码 默认 51mmjknb-->
  <Pw>51mmjknb</Pw>
  <!--验证码等待接收次数 一次等待6000毫秒 默认10次-->
  <WatiingCount>23</WatiingCount>
</MobileRedConfig>