<?xml version="1.0" encoding="utf-8"?>
<!--MSD短信配置 http://mds.js.sdmpay.com/?tdsourcetag=s_pctim_aiomsg-->
<MSDConfig>
  <!--请求地址：默认 http://43.249.193.217:81/-->
  <Host>http://43.249.193.217:81/</Host>
  <!--用户名：默认 a8726151-->
  <User>a8726151</User>
  <!--密码：默认 8726151-->
  <Pass>8726151</Pass>
  <!--项目ID：默认 2733-->
  <XmId>2733</XmId>
  <!--开发者ID-->
  <developer></developer>
  <!--验证码等待接收次数 一次等待6000毫秒 默认10次-->
  <WatiingCount>10</WatiingCount>
</MSDConfig>