<?xml version="1.0" encoding="utf-8"?>
<!--操作浏览器配置-->
<SeleniumConfig>
  <!--首次打开页面 https://i.huya.com/ 或 https://www.huya.com/  或 https://www.huya.com/房间号 等等 不同的页面可能可以躲过 弹扫码登录-->
  <FirstUrl>https://i.huya.com/</FirstUrl>
  <!--账号数据库全路径 例如 E:\huya\HyData.db-->
  <HyAccountDb>C:\myData\huya\机器码\浏览器\HyData.db</HyAccountDb>
  <!--机器码信息数据库全路径-->
  <JiQiMaDb>C:\myData\huya\机器码\浏览器\JiQiMa.db</JiQiMaDb>
  <!--批号,默认0,取全部,目前账号 目前只支持虎牙账号-->
  <PiHao>0</PiHao>
  <!--true=只获取登录成功的账号-->
  <IsLogin>false</IsLogin>
  <!--注册账号使用的 短信接收平台类型 默认 MDS,美国=1-->
  <PhonePtType>MDS</PhonePtType>
  <!--修改头像时,头像图片文件夹目录-->
  <TouXiang>C:\myData\huya\XS.HuyaYuan\XS.Huya\bin\x86\Debug\头像</TouXiang>
  <!--是否执行任务 修改昵称 默认不执行  true false-->
  <XiuGaiNick>false</XiuGaiNick>
  <!--是否执行任务 修改头像 默认不执行-->
  <XiuGaiTouXiang>false</XiuGaiTouXiang>
  <!--是否执行任务 订阅 默认不执行-->
  <Subscribe>false</Subscribe>
  <!--是否执行任务 发送虎粮礼物 默认不执行-->
  <SendHyLiangGift>false</SendHyLiangGift>
  <!--是否执行任务 领取任务奖励 默认不执行-->
  <LingTask>false</LingTask>
  <!--是否执行任务 领取百宝箱 默认不执行-->
  <LingBaoXiang>false</LingBaoXiang>
  <!--领宝箱等待时间,单位分钟 默认 3-->
  <LingBaoXiangWaitingTime>3</LingBaoXiangWaitingTime>
  <!--开启宽带拨号 默认不开启-->
  <ADSLBoHao>true</ADSLBoHao>
  <!--宽带连接名 默认 AutoADSL-->
  <PPPOEname>AutoDSL</PPPOEname>
  <!--宽带账号 默认 052712301037-->
  <PPOEZh>052712301037</PPOEZh>
  <!--宽带密码 默认 320823-->
  <PPOEMima>320823</PPOEMima>
  <!--服务名称 默认 320823-->
  <FuWuName>320823</FuWuName>
  <!--开启Fiddler用户通知文本输出 默认开启-->
  <FiddlerNotifyUser>true</FiddlerNotifyUser>
  <!--开启Fiddler记录文本输出  默认开启-->
  <FiddlerLogString>true</FiddlerLogString>
  <!--谷歌浏览器,账号对应缓存信息保存路径 默认 C:\cache ,如果跟换这个路径,请把原路径的账号的缓存一起复制,就可以保存用户的cookie等等信息了,这个文件夹有点大,请设置足够的空间-->
  <GoogleUserCache>C:\cache</GoogleUserCache>
  <!--开启调试,做一些测试方面的公子 真开启-->
  <Test>false</Test>
  <!--执行任务之前是否设置cookie,一般其他任务比如领箱子等等,更新了cookie,这里刷活跃之前要先设置cookie 默认为真,有cookie信息,就先设置cookie-->
  <UpCookie>true</UpCookie>
  <!--使用代理,true ,使用代理 ADSLBoHao应该设置为 false-->
  <UseProxy>false</UseProxy>
  <!--代理读取路径 可以是http连接(连接中的 &替换成&amp; ) 或者本地文本路径,默认http://140.246.151.84:8022/call/proxy?id=e1a5a2c51aff56e8a898598ee144e254&amp;count=50-->
  <ProxyPatch>http://140.246.151.84:8022/call/proxy?id=e1a5a2c51aff56e8a898598ee144e254&amp;amp;count=50</ProxyPatch>
  <!--生成随机名字 0.随机 1.男 2.女 3个性名字   5.3000个,个性名字  默认5-->
  <RdName>5</RdName>
  <!--生成随机名字 是否在随机位置 插入随机数字字母-->
  <RdNameAndNum>false</RdNameAndNum>
  <!--滑块服务器地址-->
  <HuaKuaiServer>http://127.0.0.1:8080</HuaKuaiServer>
  <!--注册成功后 随机进入房间,并发送一条弹幕(一般是为了取guid),并根据配置 执行 比如 订阅,发送虎粮,领任务,领宝箱(上面的配置项决定)-->
  <ZhuCeInRoom>false</ZhuCeInRoom>
  <!--文本账号[格式 账号- - - -密码- - - -电话号码(可空) (一行一个)]登录的txt文本全路径-->
  <ZhangHaoTxtPath></ZhangHaoTxtPath>
  <!--手动输入手机验证码-->
  <PhoneSmsShouDong>false</PhoneSmsShouDong>
</SeleniumConfig>