<?xml version="1.0" encoding="utf-8"?>
<!--宜信配置-->
<YiXinConfig>
  <!--请求地址：默认 http://yixin.xx09.cn:88/yhapi.ashx?-->
  <Host>http://yixin.xx09.cn:88/yhapi.ashx?</Host>
  <!--用户名：默认 a8726151-->
  <User>api_a8726151_5j0</User>
  <!--密码：默认 q8726151-->
  <Pass>8726151</Pass>
  <!--项目ID：默认 3308-->
  <XmId>2587</XmId>
  <!--开发者ID-->
  <developer></developer>
</YiXinConfig>